<div class="container">
  <div class="row">
      <div class="col-md-8">
        <table class="table table-bordered ">
          <thead>
            <tr>
              <th></th>
              <th>Thermasol</th>
              <th>SteamSpa</th>
              <th>Kohler</th>
              <th>Amerec</th>
            </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">Steam</th>
            <td> <%= render partial: 'layouts/rating', locals: { score: 4 } %>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@TwBootstrap</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
          </tbody>
        </table>
      </div><!--end left side -->
      <div class='col-md-4'>
        Right side
      </div>
  </div>
</div>
