$warning-color: #f0ad4e;
$white:         white;
$light-grey:    whitesmoke;

body{
  background-color: $light-grey;
}
.fa-star{
  color: $warning-color;
}
.navbar-toggler{
  color: $white;
}

h1,h2,h3,h4,h5{
  font-family: 'Roboto Slab', serif;
}
