<div class="jumbotron">
  <h1 class="display-3"><%= @brand.name %></h1>
  <p class="lead"><%= @brand.description %></p>
  <hr class="m-y-2">
  <p><%= @brand.name %> currently has <%=@brand.products.count %> products reviews.</p>
  <p class="lead">
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>
