<div class="jumbotron">
  <div class="row">
    <div class="col-sm-7">
      <%= render partial: 'layouts/contact_form', locals: { call_to_action: 'Get Buying Guide' } %>
    </div>
    <div class="col-sm-5">
      <%= image_tag 'steam-generator-buying-guide', class: 'img-rounded' %>
    </div>
  </div>
</div>
