<form>
  <div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Name</label>
    <div class="col-xs-10">
      <input class="form-control" type="text" placeholder="your full name" id="example-text-input">
    </div>
  </div>
  <div class="form-group row">
    <label for="exampleInputEmail1" class="col-xs-2 col-form-label">Email</label>
    <div class="col-xs-10">
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
  </div>
  <div class="form-group row">
    <label for="example-tel-input" class="col-xs-2 col-form-label">Phone</label>
    <div class="col-xs-10">
      <input class="form-control" type="tel" placeholder="e.g.(555)-555-5555" id="example-tel-input">
    </div>
  </div>
  <div class="form-group row">
    <div class="offset-sm-2 col-sm-10">
      <button type="submit" class="btn btn-primary"><%= call_to_action %></button>
    </div>
  </div>

</form>
