<div class="container">
  <div class="row" id="header">
    <div class="col-sm-4">
      <%= link_to home_path do %>
        <h1>Steam Generator Reviews</h1>
      <% end %>
    </div>
    <div class="col-sm-7 offset-sm-1 contact-info">
      <strong class="hidden-sm-down">Phone:</strong> (888)222-333 <br/>
      <strong class="hidden-sm-down">Email:</strong> info@steamgeneratorreviews.com
    </div>
  </div>
  <%= render 'layouts/navbar' %>
</div>

