<nav class="navbar navbar-dark bg-inverse">
  <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2" aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation"> &#9776;</button>
  <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
    <ul class="nav navbar-nav">
      <li class="nav-item active">
      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Ratings</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">SteamSpa</a>
        <a class="dropdown-item" href="#">Kohler</a>
        <a class="dropdown-item" href="#">Steamist</a>
      </div>
      </li>
      <li class="nav-item">
      <%= link_to 'Steam Generators', products_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
      <%= link_to 'Companies', brands_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item pull-xs-right">
      <a class="nav-link" href="#"><span class="tag tag-info">Free Buying Guide</span></a>
      </li>
    </ul>
  </div>
</nav>
